<div class="dashboard-container fill-parent">
  <div class="filter-options"><span class="filter-options-name">Showing</span>
    <mat-button-toggle-group name="show" [(ngModel)]="teamsFilterOption" (change)="onFilterUpdate()">
      <mat-button-toggle value="uk">UK</mat-button-toggle>
      <mat-button-toggle value="europe">Europe</mat-button-toggle>
      <mat-button-toggle value="all" checked="checked">All</mat-button-toggle>
    </mat-button-toggle-group> <span class="filter-options-name">Sort by</span>
    <mat-radio-group name="sort" [(ngModel)]="sortOption" (change)="onSortUpdate()">
      <mat-radio-button [value]="sortOptions.UPDATE_TIME">Checkin Time</mat-radio-button>
      <mat-radio-button [value]="sortOptions.TEAM_NAME">Team Name</mat-radio-button>
      <mat-radio-button [value]="sortOptions.TEAM_ID">Team Number</mat-radio-button>
    </mat-radio-group>
    <button mat-icon-button="mat-icon-button" (click)="toggleOrder()">
      <mat-icon *ngIf="sortAscending" title="Switch to sort descending order">arrow_upward</mat-icon>
      <mat-icon *ngIf="!sortAscending" title="Switch to sort in ascending order">arrow_downward</mat-icon>
    </button>
  </div>
  <div class="card-container">
    <div *ngIf="loading" class="loading">
      <mat-progress-spinner progress="indeterminate" color="primary"></mat-progress-spinner>
      <mat-spinner></mat-spinner>
    </div>
    <div class="status-card-container">
      <dashboard-card *ngFor="let team of filteredTeams | orderBy: ordering" [team]="team"></dashboard-card>
    </div>
  </div>
</div>
