<div class="texts-by-team master-detail">
  <div class="teams-list master">
    <mat-nav-list><a mat-list-item="mat-list-item" *ngFor="let team of teams | orderBy: &quot;+id&quot; " [routerLink]="getTeamLink(team)" routerLinkActive="selected">
        <div mat-list-avatar="mat-list-avatar">
          <h1 [ngStyle]="{&quot;background-color&quot;: team.color}" class="team-number">{{team.id}}</h1>
        </div>
        <h3 mat-line="mat-line" [ngClass]="{unread: numberUnreadMessagesForTeam(team)}">({{numberUnreadMessagesForTeam(team)}}) {{team.name}}</h3>
        <p mat-line="mat-line">{{team.getPrettyRacersList()}}</p></a></mat-nav-list>
  </div>
  <texts-list [texts]="selectedTeamTexts" [display]="displayOptions"></texts-list>
</div>