<div class="add-non-native-text-component-wrapper">
    <mat-card>
      <h1>Add non-native text</h1>
      <table>
        <tr>
          <th>To</th>
          <td>
            <phone-widget [number]="newText.to" edit="true"></phone-widget>
          </td>
        </tr>
        <tr>
          <th>From</th>
          <td>
            <phone-widget [number]="newText.from" edit="true"></phone-widget>
          </td>
        </tr>
        <tr>
          <th>Text Direction</th>
          <td><span class="direction">{{getTextDirection()}}</span>
            <button mat-icon-button="mat-icon-button" (click)="toggleDirection()">
              <mat-icon>swap_horiz</mat-icon>
            </button>
          </td>
        </tr>
        <tr>
          <th>Timestamp</th>
          <td>
            <mat-input-container>
              <input mdInput="mdInput" type="datetime-local" [(ngModel)]="newText.timestamp"/>
            </mat-input-container>
          </td>
        </tr>
        <tr>
          <th>Text</th>
          <td>
            <mat-input-container class="full-width">
              <textarea mdInput="mdInput" [(ngModel)]="newText.body" class="text-body"></textarea>
            </mat-input-container>
          </td>
        </tr>
      </table>
      <button mat-raised-button="mat-raised-button" color="primary" (click)="createNonNativeText()">Add </button>
    </mat-card>
  </div>