/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  height: 100vh;
}

.loading-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.loading-box {
  padding: 20px;
}

.loading-icon {
  height: 100px;
}

.loading-text {
  text-align: center;
  font-family: Roboto, sans-serif;
}

.fill-parent {
  height: 100%;
}

.fixed-header {

}

.fixed-body {

}

.fixed-body.scrollable {
  overflow-y: scroll;
}

.component-child-fill > * {
  height: 100%;
}

.master-detail {
  display: flex;
  .master {
    overflow-y: scroll;
    background-color: white;
    width: 300px;

    .selected {
      background-color: #EEE !important;      
    }
  }

  .detail {
    flex: 1;
    overflow-y: scroll;
  }
}