<div *ngIf="!numberExists() &amp;&amp; !edit" class="phone-widget"><span class="no-phone">No phone number!</span></div>
<div *ngIf="numberExists() &amp;&amp; !edit" class="phone-widget"><span class="country-code">+{{number.countryCode}}</span><span class="number">{{number.nationalNumber}}</span></div>
<div *ngIf="number &amp;&amp; edit" class="phone-widget edit">
  <mat-input-container class="country-code">
    <input matInput="matInput" [(ngModel)]="number.countryCode" width="3"/><span mat-prefix="mat-prefix">+</span>
  </mat-input-container>
  <mat-input-container class="national-number">
    <input matInput="matInput" [(ngModel)]="number.nationalNumber"/>
  </mat-input-container>
</div>
